<div class="content">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="pure-menu-heading row justify-content-center">
              <h1 id="mainheader">Swamp<b>hacks V</b></h1>
      </div>
      <form autocomplete="off" novalidate [formGroup]="form" class="row justify-content-center">
          <fieldset>
              <div class="top-margin">
                  <label class="form-lbl">Email</label>
                  <input class="input-field" name="email" formControlName="email">
              </div>
              <div class="top-margin">
                  <label class="form-lbl">Password</label>
                  <input class="input-field" name="password" formControlName="password" type="password">
              </div>
          </fieldset>

          <button class="button green top-margin" (click)="login()"><p>Login</p></button>

      </form>
      <div class="margin-buffer">

        <div class="col-md-12 top-margin text-center">
          <a routerLink="/register"><p class="textbtn">or <b id="signInLink">Create Account</b></p></a>
        </div>

        <div class="col-md-12 descrip-txt login-txt">
          Please login with the email you applied with! If you did not create an account yet, do that first.
        </div>

    </div>
  </div>
    <div class="col-8 hidden-sm">

      <div class="imgcon">
        <img src="../../assets/img/colorlogo.svg"/>
      </div>

      <div class="top-blk">

      </div>
      <div class="bottom-blk">

      </div>

    </div>
  </div>
</div>
