<header class="l-header v-center-parent">
    <img class="v-center" routerLink="home"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

    <ul class="top-menu disable-link-styles">
        <li>
            <a routerLink="home"
               routerLinkActive="menu-active">Home</a>
        </li>
        <li>
            <a routerLinkActive="menu-active" routerLink="login"
                *ngIf="!(userState | async)?.uid">Login</a>
        </li>
        <li>
            <a routerLinkActive="menu-active" routerLink="register"
               *ngIf="!(userState | async)?.uid">Register</a>
        </li>
        <li>
            <a *ngIf="(userState | async)?.uid" (click)="logout()">Logout</a>
        </li>
    </ul>

</header>
