<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button (click)="toggleCollapse()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-menu" [class.show]="show">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active current" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/home" (click)="toggleCollapse()" >Home</a>
        </li>
        <li *ngIf="!(userState | async)?.uid" class="nav-item" routerLinkActive="active current">
            <a class="nav-link" routerLink="/login" (click)="toggleCollapse()" >Login</a>
        </li>
        <li *ngIf="!(userState | async)?.uid" class="nav-item" routerLinkActive="active current">
            <a class="nav-link" routerLink="/register" (click)="toggleCollapse()" >Register</a>
        </li>
        <li *ngIf="(userState | async)?.uid" class="nav-item" routerLinkActive="active current">
            <a class="nav-link" routerLink="/meals" (click)="toggleCollapse()" >Meals</a>
        </li>
        <li *ngIf="(userState | async)?.uid" class="nav-item" routerLinkActive="active current">
            <a class="nav-link" routerLink="/profile" (click)="toggleCollapse()" >Profile</a>
        </li>
        <li *ngIf="(userState | async)?.uid" class="nav-item" routerLinkActive="current">
            <a class="nav-link" (click)="logout()" routerLink="/">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
