<div class="row">
  <div class="col text-center">
    <h3 id="mainheader">Please verify your email</h3>
  </div>
</div>
<div class="row" style="margin-top: 5em;">
  <!-- TODO: add actual logos, and appropriate colors-->
  <div class="col-4 text-center">
    <a class="button green" href="https://www.yahoo.com/" target="_blank"><p>Yahoo</p></a>
  </div>
  <div class="col-4 text-center">
    <a class="button dark" href="https://mail.google.com/" target="_blank"><p>Gmail</p></a>
  </div>
  <div class="col-4 text-center">
    <a class="button red" href="https://outlook.live.com/owa/" target="_blank"><p>Outlook</p></a>
  </div>
</div>
