#mainheader {
  font-size: 3em;
  text-align: center;
  font-family: 'Montserrat-Regular', serif;
  color: #1C3444;
  transition: 0.3s;
  /* padding-top: 2em; */
}

/* Buttons */
a:hover {
  text-decoration: none;
}

.button {
  padding-top: 0.1px !important;
  height: 50px;
  color: white;
  border-radius: 6px;
  width: 60%;
  border: none;
  transition: 0.3s;
}

.button:focus {
  outline: none;
}

.button p {
  color: white;
  margin-top: 12px;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.button .textbtn {
  color: #333333;
  font-size: 1.0em;
  margin-top: 0px;

}

.txtbtnouter {
  background-color: transparent !important;
}

.button a:hover,
.button a:focus {
  text-decoration: none;
}

.button:hover,
.button:focus {
  opacity: 0.7;
}

/* Colors */


.green {
  background: #6C9668;
}

.red {
  background: red;
}

.lightRed {
  background: #EE2229;
}

.greenTxt {
  color: #6C9668;
}

.redTxt {
  color: red;
}

.dark {
  background: #1C3444;
}

.dark-txt {
  color: #1C3444;
}
