/* loading screen */
#animationWindow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(108,150,104,0.8); */
    background-image: linear-gradient(#6dcff4, #368fcb);
    text-align: center;
    overflow: hidden;
    z-index: 100000;
 
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
 }

 .fadeOutAnimation {
    animation: fadeOut 1s linear forwards;
 }

 @keyframes fadeOut {
     from {
         opacity: 1;
     }
     to {
         opacity: 0;
     }
 }

.showflex {
    display: flex;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    /*-webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);*/
    width: 50px;
    height: 10px;
    margin-left: -25px;
    /*background: #3498DB;*/
    background: white;
    border-radius: 5px;
    -webkit-animation: load 1.0s ease-in-out infinite;
            animation: load 1.0s ease-in-out infinite;
  }
  .loader:before, .loader:after {
    position: absolute;
    display: block;
    content: "";
    -webkit-animation: load 1.0s ease-in-out infinite;
            animation: load 1.0s ease-in-out infinite;
    height: 10px;
    border-radius: 5px;
  }
  .loader:before {
    top: -20px;
    left: 10px;
    width: 40px;
    /*background: #EF4836;*/
    background: white;
  }
  .loader:after {
    bottom: -20px;
    width: 35px;
    /*background: #F5AB35;*/
    background: white;
  }
  
  @-webkit-keyframes load {
    0% {
      -webkit-transform: translateX(40px);
              transform: translateX(40px);
    }
    50% {
      -webkit-transform: translateX(-30px);
              transform: translateX(-30px);
    }
    100% {
      -webkit-transform: translateX(40px);
              transform: translateX(40px);
    }
  }
  
  @keyframes load {
    0% {
      -webkit-transform: translateX(40px);
              transform: translateX(40px);
    }
    50% {
      -webkit-transform: translateX(-30px);
              transform: translateX(-30px);
    }
    100% {
      -webkit-transform: translateX(40px);
              transform: translateX(40px);
    }
  }
/* Nav bar */
.navbar {
    background: transparent;
    background-image:none;
    border-color:transparent;
    box-shadow:none;
    transition: top 0.3s;
  }
  
.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: #065144;
    font-weight: bold;
    margin-left: 30px;
}
  
.nav-link:hover {
    color: white!important;
}

.nav-mobileBackground {
    background-color: #6dcff4;
}

.navbarAnimationOut {
    animation: navbarFadeOut 0.2s linear forwards;
}

.navbarAnimationIn {
    animation: navbarFadeIn 0.2s linear forwards;
}

@keyframes navbarFadeOut {
    from { 
        /* opacity: 1; */
        top: 0;
    }
    to   { 
        /* opacity: 0;  */
        top: -50px;
    }
}

@keyframes navbarFadeIn {
    from { 
        /* opacity: 0; */
        top: -50px;
    }
    to   { 
        /* opacity: 1; */
        top: 0;
    }
}

#artboard {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
    z-index: 9999;
    animation: zoomIn 4s linear 1s forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(5);
        opacity: 0;
        z-index: -3;
    }
}

.applyButton {
    position: absolute;
     top: 60%;
    left: 50%;
    width: 200px;
    height: 35px;
    margin-left: -100px;
    margin-top: 10px;
    background-color: #065144; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 25px;
}

.applyButton:hover {
    background-color: rgba(245, 245, 245, 0.815); 
    color: black;
    /* border: 2px solid white; */
}

#gatorTraveler {
    position: absolute;
    top: 60%;
    left: 47%;
    /* 1/3 original size */
    width: 80px; 
    height: 40px;
    animation: gatorMovement 5s linear 4s forwards;
}

.movementAnimation {
    animation: gatorMovement 5s linear forwards;
    /* -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; */
}

@keyframes gatorMovement {
    0% {
        -ms-transform: scale(1.5) translate(0, 20px);; /* IE 9 */
        -webkit-transform: scale(1.5) translate(0, 20px);; /* Safari */
        transform: scale(1.5) translate(0, 20px);;
    }
    50% {
        -ms-transform: scale(3) translate(0, 20px);; /* IE 9 */
        -webkit-transform: scale(3) translate(0, 20px);; /* Safari */
        transform: scale(3) translate(0, 20px);;
    }
    100% {
        -ms-transform: scale(3) translate(0, -110px);; /* IE 9 */
        -webkit-transform: scale(3) translate(0, -110px);; /* Safari */
        transform: scale(3) translate(0, -110px);;
    }
}

.lakeGator {
    width: 20vw;
    height: 3vw;
    position: absolute;
    top: 560px;
    left: 30%;
}

.headerContainer {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 500px;
    height: 160px;
    /* Adjust to certain by moving by half the dimensions */
    margin-left: -250px;
    margin-top: -250px;
    text-align: center;
}

#mainTitle {
    font-family: 'metropolis', sans-serif;
    color: #3e4a32;
    font-size: 55px;
    font-weight: 400;
    margin-top: -20px;
    /* margin-top: 100px; */
}

#headerDate {
    font-family: 'metropolis', sans-serif;
    color: #065144;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: -15px;
}

.cohostText {
    font-family: 'metropolis', sans-serif;
    color: #065144;
    font-weight: 700;
    margin-top: -10px;
    text-align: left;
    padding-left: 115px;
    font-style: italic;
}

#realTruckLogo {
    margin-bottom: 20px;
}

.banner {
    width: 100%;
    /* height: 50vw; */
    height: 700px;
    /* overflow-x: hidden; */
}

.mainPageImg {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    /* height: 100vh; */
   /*width: 100vh; */
    /* width: inherit; */
    /* height: 100%; */
    /* height: 45em; */
    /* height: 700px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.foreground {
    position: absolute;
    top: 350px;
    left: 50%;
    padding: 0;
    margin: 0;
    top: 550px;
    left:0;
    width: 100.1vw;
    /* width: 2000px; */
    /* background-size:  */
    height: 155px;
}

.fixedForeground {
    width: 1600px;
}

.backTrees {
    position: absolute;
    margin-top: 300px;
    top: 350px;
    left: 50%;
    padding: 0;
    margin: 0;
    /* width: 100%; */
    /* width: 1500px; */
    height: 300px;
    width: 1500px;
    margin-left: -750px;
    /* animation: sway 11s linear infinite; */
}

.mobileForeground {
    margin-top: 550px;
    width: 100vw !important;
    height: 155px;
}

.mobileBackTrees {
    margin-top: 300px;
    width: 100vw !important;
    height: 300px;
}

.islandLeft {
    width: 600px;
    height: 350px;
    top: 300px;
    left: -250px;
    /* animation: sway 7s linear infinite; */
}

@keyframes sway {
    0% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(-20px); 
    }
    100% {
        transform: translateX(20px);
    }
}

.islandRight {
    width: 600px;
    height: 350px;
    top: 300px;
    left: 100%;
    right: 0;
    margin-left: -28%;
    /* animation: sway 7s linear 3s infinite; */
}

.islandLeftFront {
    width: 400px;
    height: 250px;
    top: 400px;
    left: -200px;
    /* animation: sway 7s linear 1s infinite; */
}

.islandRightFront {
    width: 400px;
    height: 230px;
    top: 400px;
    left: 85%;
    /* animation: sway 7s linear 4s infinite; */
}

.sun {
    width: 25vw;
    height: 25vw;
    top: 10vw;
    left: 55vw;
}

.glares {
    height: 55vw;
}

.glareTop {
    width: 25vw;
    height: 18vw;
    top: 2vw;
    left: 75%;
}

.glareBottom {
    width: 40vw;
    height: 25vw;
    top: 30vw;
    left: 0;
}

.waterfall {
    height: 2500px;
    width: 590px;
    position: absolute;
    top: 610px;
    left: 835px;
}

.layers {
    height: auto;
    margin-top: -5px;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding-top: 20%;
    padding-bottom: 5%; 
    text-align: center;
}

.aboutLayer {
    color: white;
}

.scheduleLayer {
    color: white;
}

.sponsorLayer {
    color: white;
    background-image: linear-gradient(#6dcff4, #368fcb);
    /* height: 1000px; */
    height: auto;
    text-align: center;
    padding-bottom: 200px;
}

.faqsLayer {
    color: white;
}

.footerLayer {
    background-color: #0b2c6e;
    color: white;
    z-index: 1;
}

.lakeDivider{
    margin-bottom: -50px;
    margin-top: -5px;
    z-index: 1;
    background-color: #0e240e;
}

.islandDivider{
    margin-bottom: -24vw;
    margin-top: -45px;
    z-index: 1;
}

.lakeShore {
    width: 100vw;
    height: 100px;
}

.islandDivider {
    width: 100vw;
    height: 25vw;
}

.endOfIslandDivider {
    margin-bottom: -24vw;
    margin-top: -15px;
    z-index: 1;
}

.sponsorInterest {
    margin-top: -15px;
    text-decoration: none;
    font-family: gotham, sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
}

.sponsorInterest:hover {
    text-decoration: underline;
}

.footerDivider {
    margin-top: -100px;
    margin-bottom: -80px;
    z-index: -1;
}

.footerDiv {
    width: 100vw;
    height: 15vw;
}

.footerLinks {
    text-decoration: none;
    color: white;
    display: block;
    padding-right: 100px;
    font-family: 'metropolis', sans-serif;
    font-weight: bold;
}

.footerLinks:hover {
    text-decoration: underline;
}

.endOfIsland {
    width: 100vw;
    height: 25vw;
}

.sectionDescription {
    padding-left: 20%;
    padding-right: 20%;
    font-family: gotham, sans-serif;
    font-size: 20px;
    text-align: center;
}

.indent {
    margin-left: 5%;
}

.aboutTitle {
    font-weight: 800;
    margin-top: -100px;
    margin-bottom: 25px;
    font-family: gotham, sans-serif;
}

#aboutSubTitle {
    margin-top: 100px;
}

.scheduleTitle {
    font-weight: 600;
    margin-top: 35px;
    font-family: gotham, sans-serif;
}

.faqTitle {
    font-weight: 600;
    margin-top: 55px;
    font-family: gotham, sans-serif;
}

.sponsorsTitle {
    /* margin-left: -35%; */
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: gotham, sans-serif;
}

.subTitle {
    font-weight: 700;
    font-family: gotham, sans-serif;
    display: inline-block;
}

.subScheduleTitle {
    font-weight: 700;
    font-family: gotham, sans-serif;
    margin-left: 20%;
}

.sectionTitle {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /* justify-content: center; */
}

.bot-margin {
    margin-bottom: 20px;
}

.flexCenter {
    justify-content: center;
}

.scheduleDesc {
    margin-top: 10px;
    font-weight: 600;
    font-size: 23px;
    text-align: left;
}

.sectionTime {
    float: right;
 }

.sponsorLogo {
    transition: transform 0.5s;
}

.sponsorLogo:hover {
    transform: scale(1.2);
}

.leftNimbus {
    width: 200px;
    height: 100px;
    float: left;
}

.rightNimbus {
    width: 400px;
    height: 200px;
    float: right;
}

.arrowBtn {
    margin-left: 5px;
    width: auto;
    height: 50px;
    background: transparent;
    border: none;
    /* padding: 8px 16px;
    background-image: url("../../assets/mainpage/rightArrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px; */
}

.arrow {
    background: transparent;
    border: none;
    padding: 8px 16px;
    background-image: url("../../assets/mainpage/rightArrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

.arrowBtn:focus {
    outline:0;
}

.rightArrow {
    background-size: 10px;
}

.downArrow {
    background-size: 20px;
}

.darkGreen {
    background-color: #0e250f;
}

.swampGreen {
    background-color: #065144;
}

.darkBrown {
    background-color: #603a0c;
}

.brown {
    background-color: #8d5513;
}

.lightBrown {
    background-color: #a1631d;
}

.skyBlue {
    color: #84d5df;
}

.oceanBlue {
    color: #0b2c6e;
}

.lightSkyBlue {
    color: #83ffee;
}

.hide {
    display: none;
}

/* Social Media */
.socialMediaRow {
    padding-left: 20px;
    padding-right: 20px;
}
  
.socialMediaIcons {
    width: 40px;
    height: 40px;
    margin-left: 40px;
    margin-bottom: 0;
    margin-top: 50%;
    color: white;
}

.socialMediaLink:hover {
    animation: moveUp 1s ease-in;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    } 
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.linkCol {
    text-align: right;
    margin-top: -25px;
}

#mlhLink {
    margin-top: 50px;
}

.pulse {
    animation: heartPulse 1.5s ease-in-out infinite;
}

@keyframes heartPulse {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.3)
    }
    100% {
        transform: scale(1)
    }
}

@media only screen and (max-width: 450px) {

    .mainPageImg {
        display: none;
    }

    .sectionDescription {
        width: 100%;
    }

    .islandRight {
        display: none;
    }

    .islandRightFront {
        display: none;
    }

    .islandLeft {
        /* width: 450px;
        height: 300px;
        top: 340px;
        left: -200px; */
        display: none;
    }

    .islandLeftFront {
        /* width: 200px;
        height: 150px;
        top: 440px;
        left: -90px; */
        display: none;
    }

    .sun {
        display: none;
    }

    .lakeGator {
        width: 52vw;
        height: 10vw;
    }

    .headerContainer {
        margin-left: -50%;
        text-align: center;
        width: 100%;
    }

    .aboutTitle {
        margin-top: 20px;
        font-size: 25px;
    }

    #aboutSubTitle {
        margin-top: 10% !important;
    }

    .scheduleTitle {
        font-size: 25px;
    }

    .schedule-bot-margin {
        margin-bottom: 50px;
    }

    .faqTitle {
        font-size: 25px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .sponsorsTitle {
        font-size: 25px;
    }

    .subTitle {
        font-size: 15px; 
    }

    .sectionTitle {
        justify-content: center;
        margin-left: 6%;
    }

    .move-left {
        margin-left: -12% !important;
    }

    .subScheduleTitle {
        font-size: 22px; 
        margin-left: 0;
    }

    .sectionDescription {
        font-size: 15px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .scheduleDesc {
        text-align: center;
    }

    .sectionTime {
       float: none;
    }

    .arrowBtn {    
        margin-top: -4%;
        margin-left: -4%;
        background-size: 14px;
    }

    .downArrow {
        background-size: 14px;
    }

    .rightArrow {
        background-size: 7px;
    }

    #mainTitle {
        font-size: 35px;
        margin-top: -10px;
        /* margin-top: 100px; */
    }

    #mainLogo {
        width: 42vw;
        height: 13vh;
    }
    
    #headerDate {
        font-size: 15px;
        margin-top: 5px;
        margin-left: -15px;
    }

    #mlhLink {
        margin-top: 5px;
    }

    #question13 {
        width: 90%;
    }

    #question14 {
        width: 90%;
    }

    .nav-link {
        color: whitesmoke !important;
    }

    .socialMediaRow {
        margin-bottom: 20px;
    }

    .linkCol {
        margin-top: 10px;
        text-align: center;
    }

    .footerLinks {
        padding-right: 0;
    }

    #realTruckSponsor {
        width: 55% !important;
        height: 55% !important;
    }

    #citiSponsor {
        width: 35% !important;
        height: 35% !important;
    }

    #americanExpSponsor {
        width: 15% !important;
        height: 15% !important;
    }

    #nimbusLeftScene {
        display: none;
    }

    #nimbusRightScene {
        display: none;
    }
}

