<!-- nav bar -->
<nav class="navbar navbar-light navbar-expand-md fixed-top navbarAnimationIn" id="navbar">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button (click)="toggleCollapse()" class="navbar-toggler" style="border-color: transparent!important;" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-menu" [class.show]="show">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="" (click)="toggleCollapse('about')" >About</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="" (click)="toggleCollapse('schedule')" >Schedule</a>
             </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="" (click)="toggleCollapse('sponsors')">Sponsors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="" (click)="toggleCollapse('faqs')" >FAQs</a>
            </li>
          </ul>
        </div>
      </nav>
<!-- <img id="artboard" src="../../assets/mainpage/Artboard 1.png"/> -->
<!-- Main Section -->
<div class="banner">
    <img class="mainPageImg" src="../../assets/mainpage/background.png"/>
    <img class="mainPageImg" src="../../assets/mainpage/islandParts/waterBlue.png"/>
    <div id="backTreesScene" data-relative-input="true">
            <div data-depth="0.20" >
                    <img class="mainPageImg fixedSize backTrees" src="../../assets/mainpage/islandParts/backTrees.png"/>
            </div>
    </div>
    <div id="leftIslandScenes">
           <div  data-depth="0.60">
                <img class="mainPageImg islandLeft" src="../../assets/mainpage/islandParts/left (1).png"/>
           </div>
    </div>
    <div id="rightIslandScenes">
            <div data-depth="0.60" >
                    <img class="mainPageImg islandRight" src="../../assets/mainpage/islandParts/right.png"/>
            </div>
    </div>
    <div id="sunScene" data-relative-input="true">
           <div  data-depth="0.20" >
                <img class="mainPageImg sun" src="../../assets/mainpage/islandParts/Sun.png"/>
           </div>
    </div>

    <img class="mainPageImg fixedSize" style="margin-left: -1px;" src="../../assets/mainpage/Foreground.png"/>
   
    <div id="glareTopScene" data-relative-input="true">
            <div  data-depth="0.40" >
                    <img class="mainPageImg glareTop" src="../../assets/mainpage/islandParts/glareTop.png"/>
            </div>
     </div>

     <div id="glareBotScene" data-relative-input="true">
            <div  data-depth="0.40" >
                    <img class="mainPageImg glareBottom" src="../../assets/mainpage/islandParts/glareBottom.png"/>
            </div>
     </div>
    <!-- <img class="mainPageImg glare" src="../../assets/mainpage/Glares.png"/> -->
    <!-- Center Header Area -->
    <div class="headerContainer" id="headerScene" data-relative-input="true">
        <div data-depth="0.15">
                <!-- Logo -->
                <img src="../../assets/mainpage/greenBlueLogo.png" width="242px" height="140px"/>
                <div id="mainTitle">swamp<span style="color: #065144; font-weight: bolder">hacks</span></div>
                <p id="headerDate">University of Florida | January 18-20, 2019</p>
        </div>
     </div>
     <!-- <img id="gatorTraveler" src="../../assets/mainpage/greenBlueLogo.png"/> -->
</div>
<!-- Apply button -->
<button class="applyButton" (click)="apply()"><b>Apply</b></button>
<div id="about">
        <h1>About</h1>
        <p>
                Where does it come from?
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        </p>
</div>
<div id="schedule">
        <h1>Schedule</h1>
        <p>
                Where does it come from?
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        </p>
</div>
<div id="sponsors">
    <h1>Sponsors</h1>
    <p>
            Where does it come from?
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
    </p>
</div>