/* Nav bar */
.navbar {
    background: transparent;
    background-image:none;
    border-color:transparent;
    box-shadow:none;
    transition: top 0.3s;
  }
  
.nav-link {
text-decoration: none;
font-size: 20px;
color: #065144;
font-weight: bold;
margin-left: 30px;
}
  
.nav-link:hover {
    color: white!important;
}

.navbarAnimationOut {
    animation: navbarFadeOut 0.5s linear forwards;
}

.navbarAnimationIn {
    animation: navbarFadeIn 0.5s linear forwards;
}

@keyframes navbarFadeOut {
    from { 
        opacity: 1;
        top: 0;
    }
    to   { 
        opacity: 0; 
        top: -50px;
    }
}

@keyframes navbarFadeIn {
    from { 
        opacity: 0;
        top: -50px;
    }
    to   { 
        opacity: 1;
        top: 0;
    }
}

#artboard {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
    z-index: 9999;
    animation: zoomIn 4s linear 1s forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(5);
        opacity: 0;
        z-index: -3;
    }
}

.applyButton {
    position: absolute;
     top: 50%;
    left: 50%;
    width: 200px;
    height: 35px;
    margin-left: -110px;
    margin-top: 10px;
    background-color: #065144; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 25px;
}

.applyButton:hover {
    /* background-color:  #042b24;  */
    background-color: whitesmoke;
    color: black;
    border: 2px solid #042b24;
}

#gatorTraveler {
    position: absolute;
    top: 60%;
    left: 47%;
    /* 1/3 original size */
    width: 80px; 
    height: 40px;
    animation: gatorMovement 5s linear 4s forwards;
}

.movementAnimation {
    animation: gatorMovement 5s linear forwards;
    /* -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; */
}

@keyframes gatorMovement {
    0% {
        -ms-transform: scale(1.5) translate(0, 20px);; /* IE 9 */
        -webkit-transform: scale(1.5) translate(0, 20px);; /* Safari */
        transform: scale(1.5) translate(0, 20px);;
    }
    50% {
        -ms-transform: scale(3) translate(0, 20px);; /* IE 9 */
        -webkit-transform: scale(3) translate(0, 20px);; /* Safari */
        transform: scale(3) translate(0, 20px);;
    }
    100% {
        -ms-transform: scale(3) translate(0, -110px);; /* IE 9 */
        -webkit-transform: scale(3) translate(0, -110px);; /* Safari */
        transform: scale(3) translate(0, -110px);;
    }
}

.headerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 160px;
    /* Adjust to certain by moving by half the dimensions */
    margin-left: -250px;
    margin-top: -250px;
    text-align: center;
}

#mainTitle {
    font-family: 'metropolis', sans-serif;
    color: #3e4a32;
    font-size: 55px;
    font-weight: 400;
    margin-top: -20px;
    /* margin-top: 100px; */
}

#headerDate {
    font-family: 'metropolis', sans-serif;
    color: #065144;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: -15px;
}

.banner {
    width: 100vw;
    /* height: 50vw; */
    height: 700px;
}

.mainPageImg {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    /* height: 100vh; */
   /*width: 100vh; */
    /* width: inherit; */
    /* height: 100%; */
    /* height: 45em; */
    /* height: 700px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.fixedSize {
    width: 1500px;
    height: 700px;
}

.backTrees {
    margin-top: 250px;
    width: 1500px;
    height: 300px;
}

.islandLeft {
    width: auto;
    height: auto;
    top: 300px;
    left: -300px;
}

.islandRight {
    width: auto;
    height: auto;
    top: 300px;
    left: 80%;
}

.sun {
    width: 25vw;
    height: 25vw;
    top: 10vw;
    left: 55vw;
}

.glareTop {
    width: 25vw;
    height: 18vw;
    top: 2vw;
    left: 75%;
}

.glareBottom {
    width: 40vw;
    height: 25vw;
    top: 30vw;
    left: 0;
}

.swampGreen {
    background-color: #065144;
}
