<!-- nav bar -->
<nav class="navbar navbar-light navbar-expand-md fixed-top navbarAnimationIn" id="navbar">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button (click)="toggleCollapse()" class="navbar-toggler" style="border-color: transparent!important;" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-menu" [class.show]="show">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="" (click)="toggleCollapse('about')" >About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="" (click)="toggleCollapse('schedule')" >Schedule</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" routerLink="" (click)="toggleCollapse('faqs')" >FAQs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="" (click)="toggleCollapse('sponsors')">Sponsors</a>
            </li>
          </ul>
        </div>
</nav>

<div id="animationWindow" class="showFlex hide">
        <div class="loader"></div>
</div>

<!-- <img id="artboard" src="../../assets/mainpage/Artboard 1.png"/> -->
<!-- <img class="waterfall" src="../../assets/mainpage/waterFall.png"/> -->
<!-- Main Section -->
<div class="banner">
    <img class="mainPageImg" src="../../assets/mainpage/background.png"/>
    <img class="mainPageImg" src="../../assets/mainpage/islandParts/water.png"/>
    <div id="backTreesScene" data-relative-input="true">
            <div data-depth="0.20" >
                    <img *ngIf="!isMobile" class="backTrees" id="backtree" src="../../assets/mainpage/islandParts/back.png"/>
                    <img *ngIf="isMobile" class="mobileBackTrees" id="backtree" src="../../assets/mainpage/mobile/mobile-back.png"/>
            </div>
    </div>
    <div id="leftIslandScenes">
           <div  data-depth="0.60">
                <img class="mainPageImg islandLeft" src="../../assets/mainpage/islandParts/leftTwo.png"/>
           </div>
    </div>
    <div id="rightIslandScenes">
            <div data-depth="0.60" >
                    <img class="mainPageImg islandRight" src="../../assets/mainpage/islandParts/rightTwo.png"/>
            </div>
    </div>
    <div id="leftIslandFrontScenes">
        <div  data-depth="0.80">
                <img class="mainPageImg islandLeftFront" src="../../assets/mainpage/islandParts/leftThree.png"/>
        </div>
    </div>
    <div id="rightIslandFrontScenes">
        <div data-depth="0.80" >
                <img class="mainPageImg islandRightFront" src="../../assets/mainpage/islandParts/rightThree.png"/>
        </div>
    </div>
    <div id="sunScene" data-relative-input="true">
           <div  data-depth="0.20" >
                <img class="mainPageImg sun" src="../../assets/mainpage/islandParts/Sun.png"/>
           </div>
    </div>
    <div id="gatorScene">
            <div>
                <img class="lakeGator" src="../../assets/mainpage/gator.png"/>   
            </div>
    </div>

    <img *ngIf="!isMobile" class="mainPageImg foreground" id="foregroundId" style="margin-left: -1px;" src="../../assets/mainpage/foreground.png"/>
    <img *ngIf="isMobile" class="mainPageImg mobileForeground" id="foregroundId" src="../../assets/mainpage/mobile/mobile-foreground.png"/>
    
    <div id="glareTopScene" data-relative-input="true">
        <div  data-depth="0.40" >
                <img *ngIf="!isMobile" class="mainPageImg glares" src="../../assets/mainpage/islandParts/glares.png"/>
        </div>
    </div>
    <!-- <div id="glareTopScene" data-relative-input="true">
            <div  data-depth="0.40" >
                    <img class="mainPageImg glareTop" src="../../assets/mainpage/islandParts/glareTop.png"/>
            </div>
     </div>

     <div id="glareBotScene" data-relative-input="true">
            <div  data-depth="0.40" >
                    <img class="mainPageImg glareBottom" src="../../assets/mainpage/islandParts/glareBottom.png"/>
            </div>
     </div> -->
    <!-- <img class="mainPageImg glare" src="../../assets/mainpage/Glares.png"/> -->
    <!-- Center Header Area -->
    <div class="headerContainer" id="headerScene" data-relative-input="true">
        <div data-depth="0.15">
                <!-- Logo -->
                <img src="../../assets/mainpage/greenBlueLogo.png" width="242px" height="140px"/>
                <div id="mainTitle">swamp<span style="color: #065144; font-weight: bolder">hacks</span></div>
                <p id="headerDate">University of Florida | January 18-20, 2019</p>
        </div>
     </div>
     <!-- <img id="gatorTraveler" src="../../assets/mainpage/greenBlueLogo.png"/> -->
</div>
<!-- Apply button -->
<button class="applyButton" (click)="apply()"><b>Apply</b></button>
<!-- <div class="darkGreen"></div> -->
<div class="lakeDivider">
        <img class="lakeShore" src="../../assets/mainpage/dividers/greenDivider.png"/>
</div>
<section class="layers aboutLayer darkBrown" id="about">
        <h1 class="aboutTitle">Welcome to the <span class="skyBlue">Swamp</span></h1>
        <p class="sectionDescription">
                SwampHacks is 36 hours for you to learn, create, and celebrate. For the whole weekend, 500 students will come together as aspiring developers, engineers, builders, designers—any person who has a desire to create something—focus on a project, and learn by making.
        </p>
        <p class="sectionDescription">
                From abundant mentors to workshops, SwampHacks will be the platform to start your exploration into development and the community space for hanging out with some of the brightest minds of the South. So come join us, and let’s have an awesome weekend in the swamp.                        
        </p>
        <h1 class="aboutTitle" style="margin-top: 100px;">Where is <span class="skyBlue">Swamp</span><span class="lightSkyBlue">Hacks</span><span class="skyBlue">?</span></h1>
        <p class="sectionDescription">
                SwampHacks will be held in the Collaboration Commons in Marston Science Library at the University of Florida. With both the basement level and first floor, anticipate a large open space for community hacking and the quiet floor for sleep and concentration. The address is 444 Newell Dr, Gainesville, FL 32611     
        </p>
</section>
<div class="islandDivider brown">
        <img class="islandDivider" src="../../assets/mainpage/dividers/darkBrownDivider.png"/>
</div>
<section class="layers scheduleLayer brown" id="schedule">
        <h1 class="scheduleTitle">Schedule</h1>
        <!-- <div class="indent"> -->
                <!-- Friday -->
                <div class="sectionTitle">
                        <h2 class="skyBlue subScheduleTitle">Friday, January 18th</h2>
                        <button class="arrowBtn" id="fridayArrowButton" (click)="toggleSection('friday')" [style.background-image]="'url('+ fridayArrowUrl +')'"></button>
                </div>
                <div id="fridaySection" style="text-align: center">
                        <div class="sectionDescription scheduleDesc">
                                Hacker Check-In
                                <span class="lightSkyBlue sectionTime">5:30PM - 7:30PM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Team Building
                                <span class="lightSkyBlue sectionTime">6:30PM - 8:00PM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Dinner
                                <span class="lightSkyBlue sectionTime">6:00PM - 8:00PM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Opening Ceremony
                                <span class="lightSkyBlue sectionTime">8:00PM - 9:00PM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Sponsor Fair 
                                <span class="lightSkyBlue sectionTime">9:00PM - 10:00PM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Hacking Begins
                                <span class="lightSkyBlue sectionTime">10:00PM</span>
                        </div>
                </div>
                <!-- Saturday -->
                <div class="sectionTitle">
                        <h2 class="skyBlue subScheduleTitle">Saturday, January 19th</h2>
                        <button class="arrowBtn" id="saturdayArrowButton" (click)="toggleSection('saturday')" [style.background-image]="'url('+ saturdayArrowUrl +')'"></button>
                </div>
                <div id="saturdaySection">
                        <div class="sectionDescription scheduleDesc">
                                Midnight Snack
                                <span class="lightSkyBlue sectionTime">12:00AM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Breakfast
                                <span class="lightSkyBlue sectionTime">8:00AM - 9:00AM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Lunch
                                <span class="lightSkyBlue sectionTime">1:00PM - 2:30PM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Dinner
                                <span class="lightSkyBlue sectionTime">6:00PM - 7:30PM</span>
                        </div>
                </div>
                <!-- Sunday -->
                <div class="sectionTitle">
                        <h2 class="skyBlue subScheduleTitle">Sunday, January 20th</h2>
                        <button class="arrowBtn" id="sundayArrowButton" (click)="toggleSection('sunday')" [style.background-image]="'url('+ sundayArrowUrl +')'"></button>
                </div>
                <div id="sundaySection">
                        <div class="sectionDescription scheduleDesc">
                                Midnight Snack
                                <span class="lightSkyBlue sectionTime">12:00AM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Breakfast
                                <span class="lightSkyBlue sectionTime">6:00AM - 8:00AM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Devpost Submissions Close
                                <span class="lightSkyBlue sectionTime">8:00AM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Hacking Ends + Lunch
                                <span class="lightSkyBlue sectionTime">10:00AM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Demo Waves
                                <span class="lightSkyBlue sectionTime">11:00AM - 2:00PM</span>
                        </div>
                        <div class="sectionDescription scheduleDesc">
                                Closing Ceremony
                                <span class="lightSkyBlue sectionTime">2:30PM - 3:30PM</span>
                        </div>
                </div>
        <!-- </div> -->
</section>
<div class="islandDivider">
        <img class="islandDivider" src="../../assets/mainpage/dividers/brownDivider.png"/>
</div>
<!-- FAQ Section -->
<section class="layers lightBrown faqsLayer" id="faqs">
        <h1 class="faqTitle">Frequently Asked Questions</h1>
        <div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">What is a Hackathon?</h2>
                        <button class="arrowBtn" id="question1ArrowButton" (click)="toggleSection('question1')" [style.background-image]="'url('+ question1ArrowUrl +')'"></button>
                </div>
                <div id="question1Section" class="bot-margin">
                        <p class="sectionDescription">
                                A hackathon is a weekend long event where projects are made from idea to prototype. At the end of the given time, projects are presented in a science fair setting—which, yes, includes prizes. The purpose of a hackathon is to have students learn development by creating a product while being provided resources like free-rentable hardware, tech workshops, and mentors. Hackathons are a space where road-blocks are eliminated, and students can learn new skills with ease.
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">What should I bring?</h2>
                        <button class="arrowBtn" id="question2ArrowButton" (click)="toggleSection('question2')" [style.background-image]="'url('+ question2ArrowUrl +')'"></button>
                </div>
                <div id="question2Section" class="bot-margin">
                        <p class="sectionDescription">
                                Bring yourself, some comfy clothes, toiletries (toothpaste, toothbrush, deodorant, etc) and your hacking gear (laptop, hardware…and don’t forget the chargers!)
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">HELP, this is my first hackathon!?</h2>
                        <button class="arrowBtn" id="question3ArrowButton" (click)="toggleSection('question3')" [style.background-image]="'url('+ question3ArrowUrl +')'"></button>
                </div>
                <div id="question3Section" class="bot-margin">
                        <p class="sectionDescription">
                                That is awesome! We are so glad you decided to be a part of the hacker community. SwampHacks welcomes everyone of any major and any level as long as they have a passion for development! We will have workshops during the event, mentors to help you through any troubles, so no matter what skill levels, we will provide the resources to help you learn.
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">How much will I be spending?</h2>
                        <button class="arrowBtn" id="question4ArrowButton" (click)="toggleSection('question4')" [style.background-image]="'url('+ question4ArrowUrl +')'"></button>
                </div>
                <div id="question4Section" class="bot-margin">
                        <p class="sectionDescription">
                                That is awesome! We are so glad you decided to be a part of the hacker community. SwampHacks welcomes everyone of any major and any level as long as they have a passion for development! We will have workshops during the event, mentors to help you through any troubles, so no matter what skill levels, we will provide the resources to help you learn.
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">What is a Hackathon?</h2>
                        <button class="arrowBtn" id="question5ArrowButton" (click)="toggleSection('question5')" [style.background-image]="'url('+ question5ArrowUrl +')'"></button>
                </div>
                <div id="question5Section" class="bot-margin">
                        <p class="sectionDescription">
                                A hackathon is a weekend long event where projects are made from idea to prototype. At the end of the given time, projects are presented in a science fair setting—which, yes, includes prizes. The purpose of a hackathon is to have students learn development by creating a product while being provided resources like free-rentable hardware, tech workshops, and mentors. Hackathons are a space where road-blocks are eliminated, and students can learn new skills with ease.
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">What should I bring?</h2>
                        <button class="arrowBtn" id="question6ArrowButton" (click)="toggleSection('question6')" [style.background-image]="'url('+ question6ArrowUrl +')'"></button>
                </div>
                <div id="question6Section" class="bot-margin">
                        <p class="sectionDescription">
                                Bring yourself, some comfy clothes, toiletries (toothpaste, toothbrush, deodorant, etc) and your hacking gear (laptop, hardware…and don’t forget the chargers!)
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">HELP, this is my first hackathon!?</h2>
                        <button class="arrowBtn" id="question7ArrowButton" (click)="toggleSection('question7')" [style.background-image]="'url('+ question7ArrowUrl +')'"></button>
                </div>
                <div id="question7Section" class="bot-margin">
                        <p class="sectionDescription">
                                That is awesome! We are so glad you decided to be a part of the hacker community. SwampHacks welcomes everyone of any major and any level as long as they have a passion for development! We will have workshops during the event, mentors to help you through any troubles, so no matter what skill levels, we will provide the resources to help you learn.
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">How much will I be spending?</h2>
                        <button class="arrowBtn" id="question8ArrowButton" (click)="toggleSection('question8')" [style.background-image]="'url('+ question8ArrowUrl +')'"></button>
                </div>
                <div id="question8Section" class="bot-margin">
                        <p class="sectionDescription">
                                That is awesome! We are so glad you decided to be a part of the hacker community. SwampHacks welcomes everyone of any major and any level as long as they have a passion for development! We will have workshops during the event, mentors to help you through any troubles, so no matter what skill levels, we will provide the resources to help you learn.
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">What is a Hackathon?</h2>
                        <button class="arrowBtn" id="question9ArrowButton" (click)="toggleSection('question9')" [style.background-image]="'url('+ question9ArrowUrl +')'"></button>
                </div>
                <div id="question9Section" class="bot-margin">
                        <p class="sectionDescription">
                                A hackathon is a weekend long event where projects are made from idea to prototype. At the end of the given time, projects are presented in a science fair setting—which, yes, includes prizes. The purpose of a hackathon is to have students learn development by creating a product while being provided resources like free-rentable hardware, tech workshops, and mentors. Hackathons are a space where road-blocks are eliminated, and students can learn new skills with ease.
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">What should I bring?</h2>
                        <button class="arrowBtn" id="question10ArrowButton" (click)="toggleSection('question10')" [style.background-image]="'url('+ question10ArrowUrl +')'"></button>
                </div>
                <div id="question10Section" class="bot-margin">
                        <p class="sectionDescription">
                                Bring yourself, some comfy clothes, toiletries (toothpaste, toothbrush, deodorant, etc) and your hacking gear (laptop, hardware…and don’t forget the chargers!)
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">HELP, this is my first hackathon!?</h2>
                        <button class="arrowBtn" id="question11ArrowButton" (click)="toggleSection('question11')" [style.background-image]="'url('+ question11ArrowUrl +')'"></button>
                </div>
                <div id="question11Section" class="bot-margin">
                        <p class="sectionDescription">
                                That is awesome! We are so glad you decided to be a part of the hacker community. SwampHacks welcomes everyone of any major and any level as long as they have a passion for development! We will have workshops during the event, mentors to help you through any troubles, so no matter what skill levels, we will provide the resources to help you learn.
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">How much will I be spending?</h2>
                        <button class="arrowBtn" id="question12ArrowButton" (click)="toggleSection('question12')" [style.background-image]="'url('+ question12ArrowUrl +')'"></button>
                </div>
                <div id="question12Section" class="bot-margin">
                        <p class="sectionDescription">
                                That is awesome! We are so glad you decided to be a part of the hacker community. SwampHacks welcomes everyone of any major and any level as long as they have a passion for development! We will have workshops during the event, mentors to help you through any troubles, so no matter what skill levels, we will provide the resources to help you learn.
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">HELP, this is my first hackathon!?</h2>
                        <button class="arrowBtn" id="question13ArrowButton" (click)="toggleSection('question13')" [style.background-image]="'url('+ question13ArrowUrl +')'"></button>
                </div>
                <div id="question13Section" class="bot-margin">
                        <p class="sectionDescription">
                                That is awesome! We are so glad you decided to be a part of the hacker community. SwampHacks welcomes everyone of any major and any level as long as they have a passion for development! We will have workshops during the event, mentors to help you through any troubles, so no matter what skill levels, we will provide the resources to help you learn.
                        </p>
                </div>
                <div class="sectionTitle flexCenter">
                        <h2 class="skyBlue subTitle">How much will I be spending?</h2>
                        <button class="arrowBtn" id="question14ArrowButton" (click)="toggleSection('question14')" [style.background-image]="'url('+ question14ArrowUrl +')'"></button>
                </div>
                <div id="question14Section" class="bot-margin">
                        <p class="sectionDescription">
                                That is awesome! We are so glad you decided to be a part of the hacker community. SwampHacks welcomes everyone of any major and any level as long as they have a passion for development! We will have workshops during the event, mentors to help you through any troubles, so no matter what skill levels, we will provide the resources to help you learn.
                        </p>
                </div>
        </div>
</section>
<!-- End of FAQ Section -->
<div class="endOfIslandDivider">
        <img class="endOfIsland" src="../../assets/mainpage/dividers/islandTip.png"/>
</div>
<section class="layers sponsorLayer" id="sponsors">
        <h1 class="sponsorsTitle">Our Amazing Sponsors</h1>
        <!-- logo area -->
        <!-- clouds -->
        <div class="" id="nimbusLeftScene">
                <div class="col">
                        <img class="leftNimbus" src="../../assets/mainpage/nimbusLeft.png"/>
                </div>
        </div>
        <div class="" id="nimbusRightScene">
                <div class="col">
                        <img class="rightNimbus" src="../../assets/mainpage/nimbusRight.png"/>
                </div>
        </div>
</section>
<div class="footerDivider">
        <img class="footerDiv" src="../../assets/mainpage/dividers/footer.png"/>
</div>
<section class="footerLayer" id="footer">
        <div style="display: flex; flex-direction: row">
                <!-- Social Media -->
                <div class="col-sm-12 col-md-4 socialMediaRow" style="text-align: center">
                        <a class="socialMediaLink" href="https://www.facebook.com/SwampHacks/?ref=br_rs" target="_blank">
                                <img class="socialMediaIcons" [src]="facebookSrc"/>
                        </a>
                        <a class="socialMediaLink" href="https://www.instagram.com/swamphack/?hl=en" target="_blank">
                                <img class="socialMediaIcons" [src]="instagramSrc"/>
                        </a>
                        <a class="socialMediaLink" href="https://twitter.com/swamphacks?lang=en" target="_blank">
                                <img class="socialMediaIcons" [src]="twitterSrc"/>
                        </a>
                        <a class="socialMediaLink" style="margin-right: 20px; margin-left: -5px" href="https://www.snapchat.com/add/swamphackssnaps" target="_blank">
                                <img class="socialMediaIcons" [src]="snapchatSrc"/>
                        </a>
                </div>
                <!-- Logo -->
                <div class="col-sm-12 col-md-4" style="text-align: center">
                        <img src="../../assets/mainpage/white_logo.png" width="175px" height="100px"/>
                        <!-- TODO: insert heart and animation -->
                        <p style="font-family: 'metropolis', sans-serif; font-weight: bold">Made with <i style="color: #FF4D40; margin-left: 5px; margin-right: 5px" class="fa fa-heart pulse"></i> in Gainesville</p>
                </div>
                <!-- Other -->
                <div class="col-sm-12 col-md-4 linkCol">
                        <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank" class="footerLinks" id="mlhLink">MLH Code of Conduct</a>
                        <a href="http://2018.swamphacks.com/public/index.html" target="_blank" class="footerLinks">Last Year's Site</a>
                        <a href="https://swamphacks2017.devpost.com/" target="_blank" class="footerLinks">Last Year's Devpost</a>
                </div>
        </div>
</section>
