.mainContent {
  padding: 20px;
  /* height: 100vh; */
  font-family: 'aller', sans-serif;
}

.island {
  width: 450px;
  height: 400px;
  margin-top: 5vh;
  z-index: 1;
}

.islandMobile {
  width: 260px;
  height: 260px;
  margin-top: 10vh;
}

.islandMobileLandscape {
  width: 230px;
  height: 230px;
  margin-top: -10vh;
  margin-right: -45vw;
}

.title{
  width: 660px;
  height: 108px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.titleMobile {
  width: 80vw;
  height: 13vw;
  margin-top: 20px;
  margin-bottom: 2vh;
}

.titleMobileLandscape {
  width: 50vw;
  height: 8vw;
  margin-bottom: -55vh;
  margin-left: -45vw;
}

.interestText {
  margin-top: 10vh;
  display: inline-block;
  font-size: 1.1em;
}

.input-field {
  /* margin-top: 60px; */
  margin-top: 10vh;
  width: 250px;
  height: 35px;
  font-size: 15px !important;
  /* background-color: #ffffff00; */
  border-color: black;
  border-radius: 0.5px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  /* border: none;
  box-shadow: none !important; */
  /* padding-left: 33px; */
  font-family: 'metropolis', sans-serif;
  color: #065144;
  font-weight: 800;
  opacity: 0.5;
  display: inline-block;
}

.input-fieldMobile {
  margin-top: 10vh;
  font-size: 15px !important;
  width: 300px;
  height: 35px;
  border-color: black;
  border-radius: 0.5px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'metropolis', sans-serif;
  color: #065144;
  font-weight: 800;
  opacity: 0.5;
  display: inline-block;
}

.subscribeBtn {
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'metropolis', sans-serif;
  font-weight: 900;
  font-size: 15px;
  border-color: black;
  border-radius: 1px;
  border-width: 0.5px;
  padding-top: 6px;
  padding-bottom: 5.5px;
  /* padding-top: 15px;
  padding-bottom: 15px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.subscribeBtn:hover {
  background-color: #6E533f;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  /* color: white;
  opacity: 0.75; */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  /* color: white;
  opacity: 0.75; */
}

::-ms-input-placeholder { /* Microsoft Edge */
  /* color: white;
  opacity: 0.75; */
}

/* Social Media */
.socialMediaRow {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.socialMediaIcons {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: -15px;
  color: white;
}

/* Clouds */
#leftCloud1 {
  top: 12vh;
  left: 25vw;
  position: absolute;
  width: 90px;
  height: 50px;
}

#leftCloud2 {
  top: 35vh;
  left: 15vw;
  position: absolute;
  width: 160px;
  height: 90px;
}

#rightCloud1 {
  top: 8vh;
  right: 30vw;
  position: absolute;
  width: 70px;
  height: 40px;
}

#rightCloud2 {
  top: 35vh;
  left: 70vw;
  position: absolute;
  width: 90px;
  height: 50px;
}

.disappear {
  display: none;
}

#disappear {
  display: none;
}

#rightCloud2Mobile {
  top: 12vh !important;
  left: 70vw;
  position: absolute;
  width: 90px;
  height: 50px;
}

/* Select */
.subscriberSelect {
  width: auto;
  position: relative;
  font-family: 'aller', sans-serif;
  display: inline-block;
  color: white;
}

.round {
  -webkit-border-radius: 1px;
 -moz-border-radius: 1px;
 border-radius: 1px;
}

.subscriberSelect select {
    display: inline-block;
    padding: 4px 3px 3px 5px;
    margin: 0;
    margin-right: 5px;
    font: inherit;
    outline: none; /* remove focus ring from Webkit */
    line-height: 1.2;
    border:0;
}
/* This one is for removing arrow in IE */
select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: inherit;
}

/* Select arrow styling */
.subscriberSelect:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    /* padding-left: 50px; */
    pointer-events: none;
}

.no-pointer-events .custom-select:after {
    content: none;
}

/* Colors */
.brownOrange {
  background: #9f754d;
  color: white;
}

.green {
  background: #6C9668;
}

.red {
  background: red;
}

.lightRed {
  background: #EE2229;
}

.greenTxt {
  color: #6C9668;
}

.redTxt {
  color: red;
}

.dark {
  background: #1C3444;
}

.dark-txt {
  color: #1C3444;
}
