.mainContent {
  padding: 20px;
  background-image: url("../../assets/comingSoonImgs/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.island {
  width: 500px;
  height: 450px;
}

.title{
  margin-top: 30px;
  margin-left: 60px;
  margin-bottom: 45px;
  width: 50vw;
  height: 15vh;
}

/* Clouds */
#leftCloud1 {
  margin-top: 12vh;
  float: right;
  width: 90px;
  height: 50px;
}

#leftCloud2 {
  margin-top: 35vh;
  margin-left: 15vw;
  width: 150px;
  height: 100px;
}

#rightCloud1 {
  margin-top: 8vh;
  margin-left: -7vw;
  float: left;
  width: 80px;
  height: 50px;
}

#rightCloud2 {
  margin-top: 35vh;
  margin-left: 5vw;
  width: 100px;
  height: 60px;
}

.spacer {
  margin-top: 300px;
}

.countDown {
  text-align: center;
  font-size: 5em;
  margin-top: 100px;
}

.input-field {
  margin-top: 10px;
  height: 50%;
  width: 33%;
  border-style: solid !important;
  border-color: black;
  border-width: 0.5px;
  color: #9b9b9b;
  font-size: 0.9em;
  /* font-family: 'Pangolin', cursive; */
  background-color: #fffcfc80;
  /* -webkit-appearance: none; */
  display: inline-block;
}

.warningLabel {
  text-align: left;
  width: 33%;
  font-size: 0.9em;
}

/* Buttons */
.button {
  display: inline-block;
  padding-top: 0.1px !important;
  height: 50px;
  color: white;
  border-radius: 6px;
  width: 20%;
  border: none;
  transition: 0.3s;
  margin-left: 5px;
}

.button:focus {
  outline: none;
}

.button p {
  color: white;
  margin-top: 12px;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.button .textbtn {
  color: #333333;
  font-size: 1.0em;
  margin-top: 0px;

}

.txtbtnouter {
  background-color: transparent !important;
}

.button a:hover,
.button a:focus {
  text-decoration: none;
}

.button:hover,
.button:focus {
  opacity: 0.7;
}

/* Select */
.subscriberSelect {
  /* margin-left: -9vw; */
  display: inline-block;
  width: 7%;
  position: relative;
  font-family: Arial;
}

.round {
  -webkit-border-radius: 1px;
 -moz-border-radius: 1px;
 border-radius: 1px;
}

.subscriberSelect select {
    display: inline-block;
    padding: 4px 3px 3px 15px;
    margin: 0;
    font: inherit;
    outline: none; /* remove focus ring from Webkit */
    line-height: 1.2;
    border:0;
}
/* This one is for removing arrow in IE */
select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
}

/* Select arrow styling */
.subscriberSelect:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding-left: 20px;
    pointer-events: none;
}

.no-pointer-events .custom-select:after {
    content: none;
}

/* Colors */
.brownOrange {
  background: #9f754d;
  color: white;
}

.green {
  background: #6C9668;
}

.red {
  background: red;
}

.lightRed {
  background: #EE2229;
}

.greenTxt {
  color: #6C9668;
}

.redTxt {
  color: red;
}

.dark {
  background: #1C3444;
}

.dark-txt {
  color: #1C3444;
}
