<div class="comingSoonBackground"></div>
<!-- <rain-component></rain-component> -->
<div class="mainContent">
  <div data-relative-input="true" id="leftCloudScene">
    <div data-depth="0.50"><img id="leftCloud1" src="../../assets/comingSoonImgs/clouds/cloudLeft1.png"/></div>
    <div data-depth="0.70"><img id="leftCloud2" src="../../assets/comingSoonImgs/clouds/cloudLeft2.png"/></div>
  </div>
  <div data-relative-input="true" id="rightCloudScene">
    <div data-depth="0.50"><img id="rightCloud1" src="../../assets/comingSoonImgs/clouds/cloudRight1.png"/></div>
    <div data-depth="0.70"><img id="rightCloud2" src="../../assets/comingSoonImgs/clouds/cloudRight2.png"/></div>
  </div>
  <div class="row" data-relative-input="true" id="islandScene">
    <div class="col" align="center" data-depth="0.20">
      <img class="island" [src]="islandPath"/>
    </div>
  </div>
  <div class="row" data-relative-input="true" id="mainTextScene">
    <div class="col" align="center" data-depth="0.10">
      <img class="title" src="../../assets/comingSoonImgs/Typography (large).png"/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col" align="center">
          <input class="input-field" (keyup.enter)="addEmail()" placeholder="ENTER EMAIL" [(ngModel)]="emailInput">
          <button class="subscribeBtn brownOrange" (click)="addEmail()">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div class="socialMediaRow">
    <a href="https://www.facebook.com/SwampHacks/?ref=br_rs" (mouseover)="facebookHovered($event)" (mouseout)="facebookHoverOut($event)" target="_blank">
      <img class="socialMediaIcons" [src]="facebookSrc"/>
    </a>
    <a href="https://www.instagram.com/swamphack/?hl=en" (mouseover)="instagramHovered($event)" (mouseout)="instagramHoverOut($event)" target="_blank">
      <img class="socialMediaIcons" [src]="instagramSrc"/>
    </a>
    <a href="https://twitter.com/swamphacks?lang=en" (mouseover)="twitterHovered($event)" (mouseout)="twitterHoverOut($event)" target="_blank">
      <img class="socialMediaIcons" [src]="twitterSrc"/>
    </a>
    <a href="https://www.snapchat.com/add/swamphackssnaps" (mouseover)="snapchatHovered($event)" (mouseout)="snapchatHoverOut($event)" target="_blank">
      <img class="socialMediaIcons" [src]="snapchatSrc"/>
    </a>
  </div>
</div>
