<div class="comingSoonBackground"></div>
<rain-component></rain-component>
<div class="mainContent">
  <div id="leftCloudScene">
    <div data-depth="0.40"><img id="leftCloud1" src="../../assets/comingSoonImgs/clouds/cloudLeft1.png"/></div>
    <div data-depth="0.80"><img id="leftCloud2" src="../../assets/comingSoonImgs/clouds/cloudLeft2.png"/></div>
  </div>
  <!-- <img class="island" src="../../assets/comingSoonImgs/island.png"/> -->
  <!-- <img id="leftSwing" src="../../assets/comingSoonImgs/swingset/swing.png"/>
  <img id="rightSwing" src="../../assets/comingSoonImgs/swingset/swing.png"/>
  <img id="bell" src="../../assets/comingSoonImgs/bells/stillBell.png"/>
  <img id="turtle" src="../../assets/comingSoonImgs/betterQualityTurtle.png"/> -->
  <div id="rightCloudScene">
    <div data-depth="0.40"><img id="rightCloud1" src="../../assets/comingSoonImgs/clouds/cloudRight1.png"/></div>
    <div data-depth="0.80"><img id="rightCloud2" src="../../assets/comingSoonImgs/clouds/cloudRight2.png"/></div>
  </div>
  <div class="row">
    <div class="col" align="center">
      <img class="island" src="../../assets/comingSoonImgs/island.png"/>
    </div>
  </div>
  <!-- <div class="spacer"></div> -->
  <div class="row">
    <div class="col" align="center">
      <img class="title" src="../../assets/comingSoonImgs/Typography(MainText).png"/>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col" align="center">
          <div class="interestText">I am interested in being a </div>
          <div class="subscriberSelect">
            <select [(ngModel)]="interestType" id="interetSelect">
              <option value="hacker">Hacker</option>
              <option value="sponsor">Sponsor</option>
              <option value="volunteer">Volunteer</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col" align="center">
          <input class="input-field" placeholder="ENTER EMAIL TO JOIN INTEREST LIST" [(ngModel)]="emailInput">
          <button (click)="addEmail()" class="button brownOrange">Keep me Updated!</button>
        </div>
      </div>
      <div class="row">
        <div class="col" align="center"><p class="warningLabel">*This is not the application process</p></div>
      </div>
    </div>
  </div>
  <div class="socialMediaRow">
    <a href="https://www.facebook.com/SwampHacks/?ref=br_rs" (mouseover)="facebookHovered($event)" (mouseout)="facebookHoverOut($event)" target="_blank">
      <img class="socialMediaIcons" [src]="facebookSrc"/>
    </a>
    <a href="https://www.instagram.com/swamphack/?hl=en" (mouseover)="instagramHovered($event)" (mouseout)="instagramHoverOut($event)" target="_blank">
      <img class="socialMediaIcons" [src]="instagramSrc"/>
    </a>
    <a href="#" (mouseover)="snapchatHovered($event)" (mouseout)="snapchatHoverOut($event)" target="_blank">
      <img class="socialMediaIcons" [src]="snapchatSrc"/>
    </a>
  </div>
</div>
