.mainContent {
  padding: 20px;
  height: 100vh;
}

.island {
  width: 500px;
  height: 450px;
}

.title{
  margin-top: 30px;
  margin-left: 60px;
  margin-bottom: 45px;
  width: 700px;
  height: 100px;
}

/* Clouds */
#leftCloud1 {
  margin-top: 12vh;
  margin-left: 25vw;
  width: 90px;
  height: 50px;
}

#leftCloud2 {
  margin-top: 35vh;
  margin-left: 15vw;
  width: 150px;
  height: 100px;
}

#rightCloud1 {
  margin-top: 8vh;
  margin-left: -7vw;
  float: left;
  width: 80px;
  height: 50px;
}

#rightCloud2 {
  margin-top: 35vh;
  margin-left: 5vw;
  width: 100px;
  height: 60px;
}

.spacer {
  margin-top: 300px;
}

.input-field {
  margin-top: 10px;
  height: 40px;
  width: 70%;
  border-style: solid !important;
  color: #9b9b9b;
  font-size: 0.9em;
  /* font-family: 'Pangolin', cursive; */
  opacity: 0.5;
  /* -webkit-appearance: none; */
  /* display: inline-block; */
}

.warningLabel {
  text-align: left;
  font-size: 0.9em;
  color: darkred;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  border-radius: 2px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
  margin-left: 5px;
}

.button:focus {
  outline: none;
}

.button a:hover,
.button a:focus {
  text-decoration: none;
}

.button:hover,
.button:focus {
  opacity: 0.7;
}

.interestText {
  display: inline-block;
  font-size: 1.1em;
}

/* Select */
.subscriberSelect {
  width: auto;
  position: relative;
  font-family: Arial;
  display: inline-block;
  color: white;
}

.round {
  -webkit-border-radius: 1px;
 -moz-border-radius: 1px;
 border-radius: 1px;
}

.subscriberSelect select {
    display: inline-block;
    padding: 4px 3px 3px 5px;
    margin: 0;
    margin-right: 5px;
    font: inherit;
    outline: none; /* remove focus ring from Webkit */
    line-height: 1.2;
    border:0;
}
/* This one is for removing arrow in IE */
select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: inherit;
}

/* Select arrow styling */
.subscriberSelect:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    /* padding-left: 50px; */
    pointer-events: none;
}

.no-pointer-events .custom-select:after {
    content: none;
}

/* Island Animations */

/* Social Media */
.socialMediaIcons {
  width: 35px;
  height: 35px;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: -50px;
  color: white;
}

/* Colors */
.brownOrange {
  background: #9f754d;
  color: white;
}

.green {
  background: #6C9668;
}

.red {
  background: red;
}

.lightRed {
  background: #EE2229;
}

.greenTxt {
  color: #6C9668;
}

.redTxt {
  color: red;
}

.dark {
  background: #1C3444;
}

.dark-txt {
  color: #1C3444;
}
